*{
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
*,
*::before, *::after{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}
ul, ol{
    list-style: none;
}
a{
    display: block;
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}
p a{
    display: inline;
}
img, video, figure, picture, iframe{
    max-width: 100%;
    display: block;
}
form, input, select, textarea, button, label{
    font-family: inherit;
    font-size: inherit;
    display: block;
    color: inherit;
}
:root{
    --principal-color: #FFFFFF;
    --secondary-color: #564ED7;

    --background-color1: #191A1F;
    --background-color2: #348A96;

    --bottons-color: #F4F4F6;

    --title-color: #222222;
    --subtitle-color: #888;

    --bar--color: #F7F7F5;

}
html{
    font-size: 10px;
}

*{
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
*,
*::before, *::after{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-image: linear-gradient(to bottom, var(--background-color1) 70%, var(--background-color2), var(--principal-color) );
    width: 100%;
    height: 100%;
    font-family: "Poppins", Helvetica, sans-serif;
    font-size: 1.6rem;

    overflow: hidden;
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
}
ul, ol{
    list-style: none;
}
a{
    display: block;
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}
p a{
    display: inline;
}
img, video, figure, picture, iframe{
    max-width: 100%;
    display: block;
}
form, input, select, textarea, button, label{
    font-family: inherit;
    font-size: inherit;
    display: block;
    color: inherit;
}
:root{
    --sidebar-color: #FAFCFB;
    --pantalla-color: #FFFFFF;
    --box-color: #F4F4F6;





    --principal-color: #FFFFFF;
    --secondary-color: #564ED7;

    --background-color1: #191A1F;
    --background-color2: #348A96;

    --bottons-color: #F4F4F6;

    --title-color: #222222;
    --subtitle-color: #888;

    --bar--color: #F7F7F5;


    --white-color: hsl(0, 0%, 100%);
    --rose-White: hsl(330, 100%, 98%);
    --eggshell: hsl(30, 54%, 90%);
    --light_grey: hsl(30, 18%, 87%);
    --wenge_brown: hsl(30, 10%, 34%);
    --dark_charcoal: hsl(24, 5%, 18%);

    --nutmeg: hsl(14, 45%, 36%);
    --dark_raspberry: hsl(332, 51%, 32%);

    --color-scrollbar: #D3D3D4;
    --color-background-scrollbar:#eee;
}
html{
    font-size: 10px;
    font-family: "Poppins", Helvetica, sans-serif;
}